.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 2rem;
  background: red;
}

.navbar nav ul {
  list-style: none;
}

.navbar nav ul li {
  text-decoration: none;
  margin: 1rem;
  display: inline-block;
  color: white;
}
