@font-face {
  font-family: logo;
  src: url("../../assets/sake.otf");
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
}
.logoWriting {
  font-family: logo;
  font-size: 2.5rem;
  color: white;
  margin-left: 2rem;
}
.navbar {
  background-color: #0f0e0e;
  opacity: 0.8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  margin: auto;
  z-index: 999;
  padding: 2rem;
}

.navbar nav ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.navbar nav ul li {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 1rem;
}
.navbar nav ul li :hover {
  text-decoration-line: underline yellow;
}

.navbar .MobileNavigation {
  display: none;
}
.Navigation ul li {
  margin-right: 1rem;
}

@media (max-width: 700px) {
  .navbar .MobileNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .navbar .Navigation {
    display: none;
  }

  .navbar .MobileNavigation ul {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #181818;
  }
  .navbar .MobileNavigation li {
    font-size: 1rem;
    line-height: 4rem;
  }
  .navbar .MobileNavigation .hamburgerIcon {
    right: 5%;
    top: 5%;
    position: absolute;
    color: white;
    cursor: pointer;
  }
  .navbar .MobileNavigation .closeIcon {
    right: 5%;
    top: 5%;
    position: absolute;
    color: white;
    cursor: pointer;
  }
}
